.log-bg {
  height: 100%;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-container {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  height: 39rem;
  border-radius: 0.3rem;
  border: #37474f solid 1px;
  margin: 0.5rem;
}
.login-page {
  text-decoration: none;
  color: #37474f;
  height: 13rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page h4 {
  color: #ffff;
}
.login-page {
  margin-left: 1rem;
}
@media screen and (max-width: 600px) {
  .log-bg {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .log-container {
    height: 5rem;
    width: 98.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
