.section-header {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-header p {
  font-size: 1.5rem;
  color: #424242;
}
.section-bg {
  background: #546e7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  text-align: center;
}
.sell-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}
.sell-image img:hover {
  transform: scale(1.2);
}
.sell-image img {
  transition: 400ms ease-in-out;
  width: 100%;
  height: 100%;
}
.header-put-one {
  width: 20rem;
  height: 3rem;
  background: #ffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  margin: 1rem;
}
.header-put-two {
  width: 10rem;
  height: 3rem;
  background: #ffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  margin: 1rem;
}
.push-on {
  width: 10rem;
  height: 3rem;
  background: #37474f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.3rem;
}
.push-on h4 {
  color: #ffff;
}
.dragon-dance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}
@media screen and (max-width: 600px) {
  .section-header {
    text-align: center;
  }
  .dragon-dance {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section-bg {
    text-align: center;
  }
  .header-put-one {
    width: 95vw;
  }
  .header-put-two {
    width: 95vw;
  }
  .push-on {
    width: 95vw;
  }
}
