.sell-block {
  overflow-x: hidden;
}
.section-header {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-header p {
  font-size: 1.5rem;
  color: #424242;
}
.section-bg {
  background: #546e7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  text-align: center;
}
.sell-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}
.sell-image img:hover {
  transform: scale(1.2);
}
.sell-image img {
  transition: 400ms ease-in-out;
  width: 100%;
  height: 100%;
}
.header-put-one {
  width: 20rem;
  height: 3rem;
  background: #ffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  margin: 1rem;
}
.header-put-two {
  width: 10rem;
  height: 3rem;
  background: #ffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  margin: 1rem;
}
.push-on {
  width: 10rem;
  height: 3rem;
  background: #37474f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.3rem;
  text-align: center;
}
.push-on h4 {
  color: #ffff;
}
.dragon-dance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}
.modal-small {
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-out {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}
.log-out h4 {
  color: #37474f;
  font-weight: 800;
}
.log-in {
  width: 20rem;
  height: 3rem;
  border: #000 1px solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  border-radius: 0.3rem;
}
.winterfell {
  width: 20rem;
  height: 3rem;
  background: #37474f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
}
.winterfell a {
  text-decoration: none;
  color: #ffff;
}
.box-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 50vh;
  background: #ffff;
  border-radius: 0.5rem;
}
.or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.apple {
  width: 20rem;
  height: 3rem;
  border: #000 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  border-radius: 0.3rem;
}
.google {
  width: 20rem;
  height: 3rem;
  border: #000 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}
.lady-picture {
  height: 10rem;
  width: 100vw;
}
.lady-picture img {
  height: 100%;
  width: 100%;
}
.clegne-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: #90a4ae;
  padding: 2rem;
}
.clegna-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}
.clegna-card-one {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: #000 1px solid;
  border-radius: 0.2rem;
  background: #b0bec5;
  margin: 0.5rem;
  box-shadow: 0 2px 6px 4px #424242;
}
.clegna-card-two {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: #000 1px solid;
  border-radius: 0.3rem;
  border-radius: 0.2rem;
  background: #b0bec5;
  box-shadow: 0 2px 6px 4px #424242;
  margin: 0.5rem;
}
.note-a {
  width: 10rem;
  height: 10rem;
}
.note-a img {
  width: 100%;
  height: 100%;
}
.sell-contact {
  width: 10rem;
  height: 3rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.15rem;
  margin: 0.5rem;
  cursor: pointer;
}
.sell-contact:hover {
  background: #90a4ae;
}
@media screen and (max-width: 600px) {
  .section-header {
    text-align: center;
  }
  .dragon-dance {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section-bg {
    text-align: center;
  }
  .header-put-one {
    width: 95vw;
  }
  .header-put-two {
    width: 95vw;
  }
  .push-on {
    width: 95vw;
  }
  .box-style {
    width: 95%;
  }
  .clegna-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .clegna-card-one {
    width: 95%;
  }
  .clegna-card-two {
    width: 95%;
  }
}
