.apartment-home {
  display: flex;
}
.apartment-map {
  width: 60%;
  height: 100vh;
}
.apartment-container {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.apartment-slide {
  margin: 0.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
}
.apartment-slide-image {
  height: 17rem;
}
.apartment-slide-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .apartment-map {
    display: none;
  }
  .apartment-home {
    width: 100%;
  }
  .apartment-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .apartment-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
