.in-home {
  background: url(../../images/leaves.jpg);
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}
.in-bg {
  backdrop-filter: blur(4px);
  width: 30vw;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #7c4b2d;
  border-radius: 0.5rem;
  color: #ffffff;
}
.account-one h6 {
  font-size: 1.2rem;
}

.in-small {
  width: 60%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
}
.in-btn {
  width: 60%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 9rem;
  color: #ffff;
  background: #37474f;
}
@media screen and (max-width: 600px) {
  .in-bg {
    width: 90%;
  }
  .in-small {
    width: 95%;
  }
  .in-btn {
    width: 95%;
  }
}
