.pass-big {
  background: url(../../images/Jakob.jpeg);
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}
.pass-container {
  width: 40vw;
  height: 52vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  border: 2px solid #7c4b2d;
  border-radius: 0.5rem;
  color: #ffffff;
}
.reset {
  width: 40%;
  background: #37474f;
  padding: 1rem;
  margin: 0.5rem;
  color: #ffff;
  border-radius: 10rem;
}
@media screen and (max-width: 600px) {
  .pass-container {
    width: 85%;
    height: 40%;
  }
  .reset {
    width: 65%;
  }
}
