.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), #020c1b),
    url("../../images/Silent.jpeg");
  height: 100vh;
  width: 100wh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.home-header h2 {
  font-size: 3rem;
  font-weight: 900;
}
.home-header p {
  font-size: 1.5rem;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  margin: 0.2rem;
}
.picker-a {
  width: 15rem;
  height: 4rem;
  border: #020c1b 1px solid;
  cursor: pointer;
  border-radius: 0.2rem;
}
.picker-a:hover {
  color: #d32f2f;
}
.picker,
.picker-b {
  margin: 0.5rem;
}
.picker-b a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #020c1b;
}
.featured p {
  font-size: 1.5rem;
}
.featured h4 {
  font-size: 2rem;
}
.featured-listing-card {
  height: 25rem;
  width: 20rem;
  background: #ffffff;
  margin: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.card-two {
  position: relative;
  width: 20rem;
  height: 20rem;
}
.image-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.image-title h4 {
  align-items: center;
  margin: 0.5rem;
  height: 3rem;
  width: 3rem;
  padding-left: 0.5rem;
  font-size: 2rem;
  background: #ffffff;
  color: #020c1b;
  border-radius: 50%;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #020c1b;
  transition: 400ms ease-in-out;
}
.overlay:hover {
  opacity: 0.7;
}
.red {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.3rem 1rem;
  background: #37474f;
  color: #ffffff;
  border-radius: 0.2rem;
}

.card-two img {
  display: block;
  height: 20rem;
}

.icon {
  display: flex;
  flex-direction: row;
}
.icon h5 {
  margin: 0.5rem;
  font-size: 1rem;
}
.icon h5:hover {
  color: #d32f2f;
}
.explore-one h4 {
  font-size: 2rem;
}
.explore-one p {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picker-a {
    width: 100%;
  }
  .picker,
  .picker-b {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picker-a {
    width: 100%;
  }
  .picker,
  .picker-b {
    width: 100%;
  }
}
