.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), #020c1b),
    url("../../images/Silent.jpeg");
  height: 80vh;
  width: 100wh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.home-header h2 {
  font-size: 3rem;
  font-weight: 900;
}
.home-header p {
  font-size: 1.5rem;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  margin: 0.2rem;
}
.picker-a {
  width: 15rem;
  height: 4rem;
  border: #020c1b 1px solid;
  cursor: pointer;
  border-radius: 0.2rem;
}
.picker-a:hover {
  color: #d32f2f;
}
.picker,
.picker-b {
  margin: 0.5rem;
  background-color: #37474f;
}
.picker-b a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #020c1b;
}
.featured p {
  font-size: 1.5rem;
}
.featured h4 {
  font-size: 2rem;
}
.featured-listing-card {
  height: 26rem;
  width: 18rem;
  background: #ffffff;
  margin: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.card-two {
  position: relative;
  width: 18rem;
  height: 20rem;
}
.card-two img {
  height: 100%;
  width: 100%;
}

.image-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.image-title h4 {
  align-items: center;
  margin: 0.5rem;
  height: 3rem;
  width: 3rem;

  font-size: 2rem;
  background: #ffffff;
  color: #020c1b;
  border-radius: 50%;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #020c1b;
  transition: 400ms ease-in-out;
}
.overlay:hover {
  opacity: 0.7;
}
.red {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.3rem 1rem;
  background: #37474f;
  color: #ffffff;
  border-radius: 0.2rem;
}

.icon {
  display: flex;
  flex-direction: row;
}
.icon h5 {
  margin: 0.5rem;
  font-size: 1rem;
}
.icon h5:hover {
  color: #d32f2f;
}
.explore-one h4 {
  font-size: 2rem;
}
.explore-one p {
  font-size: 1.5rem;
}
.form {
  background: #ffffff;
}
.form-one {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3),
      #020c1b
    ),
    url("../../images/Hezelia.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}
.form-one h3 {
  margin-top: 3rem;
  font-weight: 600;
}
.form-input {
  border-radius: 0.2rem;
  background: #ffffff;
  color: #020c1b;
  padding: 2rem;
  margin: 4rem;
}
.select {
  width: 20rem;
  padding: 1.5rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.select-a {
  width: 20rem;
  padding: 1.5rem;
  border: #020c1b 1px solid;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.button {
  width: 20rem;
  padding: 1rem;
  background-color: #37474f;
  border-radius: 0.2rem;
}
.button:hover {
  opacity: 0.9;
}
.button a {
  text-decoration: none;
  color: #ffffff;
}
.form-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.sec-one {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.sec-one-two p {
  text-align: center;
}
.sec-one span {
  font-size: 3rem;
  margin-top: -1rem;
  padding-left: 1rem;
}
.agents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.agent-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.agent-one-img {
  position: relative;
  width: 12rem;
  height: 12rem;
}
.agent-one-img img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  outline: #37474f 1px solid;
}
.agent-one-img img:hover {
  outline-offset: 3px;
  animation: shake 0.4ms;
}
.over {
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #020c1b;
  color: #ffffff;
  font-size: 1.5rem;
  transition: 400ms ease-in-out;
}
.over:hover {
  opacity: 0.7;
}
.over a {
  color: #ffffff;
}
.over h4 {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.review {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-card {
  background: #37474f;
  text-align: start;
  box-shadow: 10px 5px 5px 5px #020c1b;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.2rem;
  color: #ffffff;
}
.Carousel.Item {
  width: 100%;
}
.review-card-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
}
.review-card-img img {
  margin: 0.2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  outline: #020c1b 2px dotted;
  cursor: pointer;
}
.review-card-img img:hover {
  outline-offset: 3px;
  animation: shake 0.4ms;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hello {
  display: flex;

  justify-content: center;
  align-items: center;
}
.item {
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picker-a {
    width: 100%;
  }
  .picker,
  .picker-b {
    width: 100%;
  }
  .form-one {
    padding: 2rem;
  }
  .sec-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hello {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picker-a {
    width: 100%;
  }
  .picker,
  .picker-b {
    width: 100%;
  }
  .form-input {
    width: 95%;
    margin: 1rem;
  }
  .select {
    width: 95%;
    margin: 1rem;
  }
  .select-a {
    width: 95%;
    margin: 1rem;
  }
  .button {
    width: 95%;
    margin: 1rem;
  }
}
