.overview {
  background: #f5f5f5;
  border-radius: 0.5rem;
  margin: 0.1rem;
}

.overview h4 {
  display: flex;
  flex-direction: column;

  margin: 0.5rem;
}

.overview-one h4 span {
  font-weight: 500;
}
.overview-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .overview-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
