.farm-one h2 {
  font-weight: 600;
  font-size: 2rem;
}
.farm-one h5 {
  font-size: 1rem;
}
.farm-stars {
  display: flex;
  flex-direction: row;
}
.farm-stars h5 {
  color: #1b5e20;
}
.farm-stars small {
  color: #01579b;
  font-size: 0.8rem;
}
.ranch-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid #020c1b;
}
.ranch-form h4 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.ranch-form span {
  font-weight: 700;
}
.ranch-form h3 {
  color: #1b5e20;
  font-size: 2rem;
}
.form-about h4,
h5 {
  font-weight: 800;
}
.form-about ul {
  font-size: 2rem;
}
.form-about span {
  color: #1b5e20;
  font-size: 1rem;
}
.order-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.order-list span {
  color: #1b5e20;
  font-size: 1.5rem;
}

.contat-a {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), #020c1b),
    url("../../images/buffalo1.webp");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffff;
  border: 2px solid #020c1b;
  border-radius: 0.2rem;
  margin: 0.5rem;
}
.contat-a img {
  height: 15rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 400ms ease-in-out;
  margin: 2rem;
}
.contat-a img:hover {
  opacity: 0.7;
  transform: scale(1.2);
}
.contat-a h4 {
  font-weight: 700;
}
.part-features h4 {
  font-weight: 700;
}
.part-feature-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #020c1b;
  width: 18rem;
  height: 8rem;
  margin: 0.5rem;
  transition: 400ms ease-in-out;
  cursor: pointer;
  transition: width 0.5s;
  transition-timing-function: linear;
  background: #ffff;
}
.part-feature-one:hover {
  width: 350px;
  box-shadow: 0px 8px 30px #424242;
}
.part-feature-one h3 {
  font-size: 3rem;
}
.omera {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outline h3 {
  font-weight: 700;
}
.location h3 {
  font-weight: 700;
}
.location p {
  font-size: 1.5rem;
}
.neibor h3 {
  font-weight: 700;
}
.edu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
table {
  width: 100%;
  font-size: 1rem;
}
.joe {
  border-top: #020c1b 1px solid;
}
.anchor a {
  text-decoration: none;
}
.school-card {
  display: flex;
  flex-direction: row;
  border: 2px solid #020c1b;
  width: 25rem;
  height: 15rem;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 0.2rem;
}
.school-card:hover {
  box-shadow: 0px 8px 30px #424242;
  border: none;
}
.school-card-text {
  padding: 0.8rem;
}
.school-card-img {
  width: 22rem;
  height: 15rem;
  border-right: #020c1b 2px solid;
}
.school-card-img img {
  width: 22rem;
  height: 15rem;
}
.school-card-text {
  text-align: center;
}
.nopadding {
  padding: 0 !important;
}
.school-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.school h3 {
  font-weight: 700;
  border-bottom: #020c1b solid 2px;
}
.interest h3 {
  font-weight: 700;
  border-bottom: #020c1b solid 2px;
}
.interest p {
  font-size: 1.5rem;
}
.edu-table {
  margin-top: 1rem;
}
.similar-card {
  width: 70vw;
}
@media screen and (max-width: 600px) {
  .order-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ranch-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .part-feature-one {
    width: 98%;
  }
  .contat {
    width: 98%;
  }
  .school-card {
    width: 95%;
  }
}
