.sized {
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 40rem;
}
.sized img {
  width: 100%;
  background-position: center;
  height: 100%;
}
.amenities-card {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-bottom: 1px solid;
}
.card-one {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.amenities-card h5 {
  font-size: 1rem;
}
.amenities-card h5:hover {
  color: #f44336;
}
.amenities-card h5 span {
  margin: 0.2rem;
  font-size: 1rem;
}
.description {
  border-bottom: 1px solid;
}
.location {
  border-bottom: 1px solid;
  padding: 0.5rem;
}
.facts-one-info {
  display: flex;
  flex-direction: row;
}
.facts-one-info h3 {
  font-size: 4rem;
}
.facts-card {
  padding: 1rem;
}
.facts-card h6 {
  font-size: 1rem;
  font-weight: 900;
}
.facts-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid;
}
.facts-one-info {
  cursor: pointer;
  transition: 400ms ease-in-out;
}
.facts-one-info:hover {
  color: #f44336;
  transform: translate(1.2);
}

.amen-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid;
}
.amen-one {
  margin: 0.5rem;
  cursor: progress;
}

.foor-container {
  padding: 1rem;
}
.plan h5 {
  font-size: 1rem;
  font-weight: 500;
}
.foor-container {
  border-bottom: 1px solid;
}

.part-one {
  width: 30rem;
  height: 15rem;
}
.item-one {
  width: 30rem;
  height: 15rem;
  background-position: center;
  background-size: cover;
}
.item-one img {
  height: 100%;
  width: 100%;
  background-position: center;
}
.part-two h4 {
  color: #c62828;
}
.part-two span {
  color: #616161;
  font-size: 1rem;
}
.part-two p span {
  margin: 0.5rem;
  color: #2e7d32;
  font-size: 1rem;
  font-weight: 600;
}
.small {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.small-b h6 span {
  color: #f44336;
  font-size: 1rem;
}
.food-conatiner {
  margin: 2rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-bottom: 1px solid;
}
.food-conatiner:hover {
  box-shadow: 0px 8px 30px #424242;
}

@media screen and (max-width: 600px) {
  .card-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .facts-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .amen-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .food-conatiner {
    display: flex;
    flex-direction: column;
  }
}
