.sized {
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 40rem;
}
.sized img {
  width: 100%;
  background-position: center;
  height: 100%;
}
.amenities-card {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-bottom: 1px solid;
}
.card-one {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.amenities-card h5 {
  font-size: 1rem;
}
.amenities-card h5:hover {
  color: #f44336;
}
.amenities-card h5 span {
  margin: 0.2rem;
  font-size: 1rem;
}
.description {
  border-bottom: 1px solid;
}
