.profile-container {
  width: 100%;
  height: 25rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  background: #c9ced1;
  border-radius: 0.5rem;
}
.profile-image {
  width: 40rem;
  height: 25rem;
  border-radius: 0.5rem;
}
.profile-image img {
  width: 40rem;
  height: 25rem;
}
.profile-text {
  padding: 1rem;
}
.profile-text p {
  border-bottom: 2px solid #020c1b;
}
.text h5 {
  font-size: 0.8rem;
}
.profile-text h5 span {
  font-weight: 100;
}
.press {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.press-one {
  width: 15rem;
  height: 4rem;
  margin: 1rem;
  background: #37474f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.press-one a {
  text-decoration: none;
  color: #ffff;
}
.property {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: #020c1b 1px solid;
  border-radius: 0.5rem;
}
.property1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.property1-one h5 {
  margin: 2rem;
}
.property1-two {
  margin: 1rem;
}
.property1 span {
  font-weight: 700;
}
.property1-two span {
  color: #ef9a9a;
}
.property1-two s {
  color: #80deea;
}
.property1-two var {
  color: #ffee58;
}
.property1-two tt {
  color: #64b5f6;
}
.property1-two h5 {
  font-weight: 100;
}
@media screen and (max-width: 600px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
  }
  .profile-image {
    width: 95%;
  }
  .profile-image img {
    width: 95%;
  }
  .press {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .property {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
