.link {
  text-decoration: none;
}
.nav {
  height: 4rem;
}
.logo {
  height: 4rem;
  width: 100%;
}
.logo img {
  height: 100%;
  width: 100%;
}
.navbar {
  height: 4rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #37474f;
}
@media screen and (max-width: 1000px) {
  .nav {
    height: 100%;
  }
  .navbar {
    height: 100%;
  }
}
