.link {
  text-decoration: none;
}
.top-logo {
  font-size: 3rem;
  color: #ffffff;
}
.top-text {
  color: #ffffff;
  margin-top: 1rem;
}
.top-text h3 {
  font-weight: 900;
}
.top-text p {
  font-size: 0.8rem;
}
