.footer {
  background: #37474f;
}
.rise {
  border-bottom: 1px #ffffff solid;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rise-logo {
  font-size: 5rem;
  color: #ffffff;
}
.rise-text {
  color: #ffffff;
  margin-top: 2rem;
}
.rise-text h3 {
  font-weight: 700;
}
.rise-text p {
  font-size: 0.8rem;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.icon-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background: #9e9e9e;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: 400ms;
  outline: #ffffff 2px solid;
}
.icon-a a {
  font-size: 1.5rem;
  color: #ffffff;
}
.icon-a:hover {
  background: #7b8488;
  transform: scale(1.2);
  outline: #e53935 2px solid;
}
.about {
  cursor: pointer;
}
.about h4:hover {
  color: #ffffff;
}
.contact {
  cursor: pointer;
}
.contact h4:hover {
  color: #ffffff;
}
.contact ul li:hover {
  color: #ffffff;
}
.makers {
  cursor: pointer;
}
.makers h4:hover {
  color: #ffffff;
}
.makers ul li:hover {
  color: #ffffff;
}
.information {
  cursor: pointer;
}
.information h4:hover {
  color: #ffffff;
}
.information ul li:hover {
  color: #ffffff;
}
.link li {
  color: #020c1b;
}
.link li:hover {
  color: #ffffff;
}
