.contat {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), #020c1b),
    url("../../images/malibu1.webp");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffff;
  border: 2px solid #020c1b;
  border-radius: 0.2rem;
  margin: 0.5rem;
}
