.tony {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 1px #020c1b solid;
}
.home-fill {
  font-size: 3rem;
  color: #ffffff;
}
.featured-listing-card {
  transition: 400ms ease-in-out;
}
.featured-listing-card:hover {
  box-shadow: 10px 5px 5px #9e9e9e;
  transform: rotate(0.5deg);
}
