.tony {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 1px #020c1b solid;
}
.home-fill {
  font-size: 3rem;
  color: #ffffff;
}
.featured-listing-card {
  transition: 400ms ease-in-out;
  border-bottom: #020c1b 1px solid;
}
.featured-listing-card:hover {
  box-shadow: 0px 8px 30px #424242;
  transform: rotate(0.5deg);
}
.townhome-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.town-two {
  display: flex;
  align-items: center;
  justify-content: center;
}
.countryside h3 {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: #020c1b 2px solid;
}
.countryside-card {
  width: 50rem;
  height: 20rem;
  background: #020c1b;
  border-radius: 0.2rem;
}
