.tony {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 1px #020c1b solid;
}
.home-fill {
  font-size: 3rem;
  color: #ffffff;
}
.featured-listing-card {
  transition: 400ms ease-in-out;
  border-bottom: #020c1b 1px solid;
}
.featured-listing-card:hover {
  box-shadow: 0px 8px 30px #424242;
  transform: rotate(0.5deg);
}
.townhome-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.town-two {
  display: flex;
  align-items: center;
  justify-content: center;
}
.country-homes h3 {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: #020c1b 2px solid;
}
.country-container-card {
  display: flex;
  flex-direction: row;
  width: 35rem;
  height: 15rem;
  border: #020c1b 1px solid;
  margin: 1rem;
}
.country-container-card:hover {
  box-shadow: 0px 8px 30px #424242;
  border: none;
}
.country-container-img {
  width: 20rem;
  height: 15rem;
}
.country-container-img img {
  width: 22rem;
  height: 15rem;
}
.country-container-text {
  padding: 0.5rem;
}
.btn-country {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  text-align: center;
  background: #37474f;
  height: 2rem;
  width: 8rem;
  cursor: pointer;
}
.btn-country:hover {
  opacity: 0.9;
}
.btn-country a {
  color: #ffffff;
  text-decoration: none;
}
.btn-country a:hover {
  color: #020c1b;
}
